<nav class="navbar navbar-toggleable-md navbar-light fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Core Values</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">All</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Free Public College</a>
          <a class="dropdown-item" href="#">Single Payer Healthcare</a>
          <a class="dropdown-item" href="#">Public Assistance</a>
          <a class="dropdown-item" href="#">Free Public Daycare</a>
          <a class="dropdown-item" href="#">Paid Family Leave</a>
          <a class="dropdown-item" href="#">Universal Basic Income</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Mission Statement<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>

    </ul>
  </div>
  <ul class="nav float-right">
    <li class="nav-item">
      <%= image_tag "/facebook.png", :class => 'social_media_images' %>
    </li>
    <li class="nav-item">
      <%= image_tag "/twitter.png", :class => 'social_media_images' %>
    </li>
    <li class="nav-item">
      <%= image_tag "/instagram.png", :class => 'social_media_images' %>
    </li>
  </ul>
</nav>

<div class="jumbotron">
  <div class="container text-center">
    <%= image_tag "/logo.png", :class => 'img-fluid logo' %>
  </div>
</div>