<!DOCTYPE html>
<html>
  <head>
    <title>Rural Feminist</title>
    <%= csrf_meta_tags %>

    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
